body{
  margin : 0;
}
header{
  background-color: #2E112D;
  padding: 1% 0;
  position: fixed;
  z-index: 999;
  width: 100%;


}

header li{
  padding-left: 3%;
  text-transform: uppercase;
}

.list-no-style{
  list-style: none;
}
.list-no-style a{
  text-decoration: none;
  color:white;
}
.list-no-style a:hover{
  color:#8B8C81;
}


.flex-wrap{
  flex-wrap: wrap;
}
.flex-wrap-reverse{
  flex-wrap: wrap-reverse;
}
.half-size{
  width: 60%;
}
.half-size-petit{
  width: 20%;
  margin-right: 5%;

}
.min-size-small{
  min-width: 300px;
}
.flex-container2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container3{
  display: flex;
  align-items: flex-start;
  justify-content:space-around
}
.section-container{
  padding-left: 10%;
  padding-right: 10%;

}
.titreh2{
  text-align: center;
  padding-bottom: 3%;
}

.prem{
  background-image: url(images/photo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  height: 60vh;
  margin-bottom: 8%;


}
.deux{
  background-image: url(images/photo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  margin-top:8%;
  margin-bottom: 8%;
}
.lienicone{
  color:#2E112D;

}

.lienicone:hover{
  color:#B2A8A2;
}
.marginicon{
  margin: 3% 10%;
}
.margintext{
  margin: 1.5% 4%;
}
.boutonform{
  background-color: black;
  text-align: center;
  color: white;
  border : 2px solid black;
  width: 115px;
  border-radius: 50px;
  padding: 12px ;
}
.boutoncenter{
  margin : auto 0;
}
.footerbackground{
  background-color: grey;
  padding-top: 2%;
}
footer a {
  text-decoration: none;
}
footer a:hover{
  color:black;
}
footer a:visited {
  color: white;
}
small{
  margin-top: 4%;
}
